{% extends 'base.html' %}

{% block body %}
<div class="container my-5" >
    <div class="jumbotron" style="background: linear-gradient( rgb(75, 236, 228), rgb(112, 197, 101));">
        <h1 class="display-4"><u>Book Request</u></h1>
        <p class="lead" ><strong>If you want to buy a book which is not available in the list of books then you can simply fill the below details. We will try to make it available in sometime.<br> <br> Thank you and Have a nice day!!</strong></p>
    </div>

<div class="container">
<form action="/book_request/" method="POST"> {% csrf_token %}
    <input type="text" name="book_name" id="book_name" placeholder="Book Name">
 &nbsp;&nbsp;&nbsp;   <input type="text" name="author" id="author" placeholder="Book Author">
   <button type="submit">Submit</button>
</form>
</div>


{% endblock %}

{% block js %} 
<script>
    {% if thank %}
alert('We will contact you soon');
document.location = "/"
{% endif %}
 </script>
{% endblock %}